header.header
    .top-bar
        .top-bar-wrapper
            a(href="#").top-bar__item Customer support 
            a(href="#").top-bar__item Gift cards
            .top-bar-authorithation
                a(href="#").top-bar__item Join
                .top-bar__item.user-menu-switcher
                    ul.user-menu
                        li.user-menu__item
                            a.user-menu__link(href="#") Profile
                        li.user-menu__item
                            a.user-menu__link(href="#") Wishlist
                        li.user-menu__item
                            a.user-menu__link(href="#") Order history
                        li.user-menu__item
                            a.user-menu__link(href="#") Password 
                    i.flaticon-user
                    span Welcome, Max
    .main-header
        .main-header-wrapper
            .main-header__logo-box
                a(href="#")
                    img(src="img/logo-fsw.jpg", alt="fsw-logo")
            nav.main-header-menu-wrapper
                ul.main-header-menu
                    li.main-header-menu__item
                        a.main-header-menu__link(href="#") Women
                    li.main-header-menu__item.has-sub-menu
                        a.main-header-menu__link(href="#") Men
                        ul.sub-menu
                            li.sub-menu-item
                                a.sub-menu__link(href="#") Comfort
                            li.sub-menu-item
                                a.sub-menu__link(href="#") Boots
                            li.sub-menu-item
                                a.sub-menu__link(href="#") Sandals
                            li.sub-menu-item
                                a.sub-menu__link(href="#") Platforms
                            li.sub-menu-item
                                a.sub-menu__link(href="#") Heels
                            li.sub-menu-item
                                a.sub-menu__link(href="#") Wedges
                            li.sub-menu-item
                                a.sub-menu__link(href="#") Flats
                            li.sub-menu-item
                                a.sub-menu__link(href="#") Sneakers
                            li.sub-menu-item
                                a.sub-menu__link(href="#") Pumps
                            li.sub-menu-item
                                a.sub-menu__link(href="#") Peep Toes
                            li.sub-menu-item
                                a.sub-menu__link(href="#") Ankle Boots
                            li.sub-menu-item
                                a.sub-menu__link(href="#") Corporate
                            li.sub-menu-item
                                a.sub-menu__link(href="#") Formal
                            li.sub-menu-item
                                a.sub-menu__link(href="#") Leather Collection
                    li.main-header-menu__item
                        a.main-header-menu__link(href="#") Kids
                    li.main-header-menu__item
                        a.main-header-menu__link(href="#") Accesories
                    li.main-header-menu__item
                        a.main-header-menu__link(href="#") Brands
                    li.main-header-menu__item
                        a.main-header-menu__link(href="#") Sale      
            .main-header-icon-box
                i.flaticon-search
                .wishlist-icon-box
                    a(href="#")
                        i.flaticon-heart
                    .wishlist-icon-box__counter 0
                .bag-icon-box
                    a(href="#")
                        i.flaticon-shopping-bag
                    .bag-icon-box__counter 0
                