header.header
    .top-bar
        .top-bar-wrapper
            a(href="#").top-bar__item Customer support 
            a(href="#").top-bar__item Gift cards
            .top-bar-authorithation
                a(href="#").top-bar__item Join
                p.top-bar__item 
                    i.flaticon-social
                    span Welcome, Max
                
            