section.first-screen
    p.info-line FREE SHIPPING on all orders over $99 – Anywhere in Australia
    .men-side
        img(src="img/men-bg.jpg", alt="men")
        a.first-screen__cta(href="#") Shop now
    .women-side
        img(src="img/women-bg.jpg", alt="women")
        a.first-screen__cta(href="#") Shop now
    