section.product-placement
    .product-placement-left
        img(src="img/men-shoes1.jpg", alt="")
        a.cta-black(href="#") Shop now
    .product-placement-right
        img(src="img/women-shoes1.jpg", alt="")
        a.cta-black(href="#") Shop now
        