.product-slider {
    display: flex;
    justify-content: space-between;
    max-width: 1254px;
    margin: 0px auto;
}
.left-arrow, .right-arrow {
    width: 64px;
    text-align: center;
}
.product-slider-item {
    position: relative;
    display: inline-block;
    max-width: 292px;
    width: 23%;
    text-align: left;
    .price {
        float: right;
    }
    .old-price{
        float: right;
    }
}
.itame-image img {
    width: 100%;
}
.product-slider-wrapper {
    max-width: 1120px;
    text-align: center;
    .slide {
        display: flex;
        justify-content: space-between;
    }
}
.product-name, .price {
    font-size: 17px;
    color: #000000;
    &:hover {
        color: #12abbb;
    }
}
.brand-name {
    font-size: 12px;
    color: #000000;
}
.old-price {
    font-size: 12px;
    text-decoration: line-through;
}

#Capa_1 {
    fill: #cccccc;
    &:hover {
        fill: #12abbb;
    }
}