h2 What's New
.pure-g.social-photo-grid
    .pure-u-sm-1-4
        a(href="#")
            img(src="img/social1.jpg", alt="")
    .pure-u-sm-1-4
        div
            a(href="#")
                img(src="img/Social2.jpg", alt="")    
        div
            a(href="#")
                img(src="img/Social3.jpg", alt="")  
    .pure-u-sm-1-4
        a(href="#")
            img(src="img/social4.jpg", alt="")
    .pure-u-sm-1-4
        a(href="#")
            img(src="img/social5.jpg", alt="")
    .pure-u-sm-2-4
        a(href="#")
            img(src="img/social6.jpg", alt="")